<div class="qs">
  <div class="text-justify my-3">
    <p>以下の写真はいずれも「<span style="font-weight: bold;"><%= title %> </span>」 を表したピクトグラムです。</p>
    <p>「最も分かりやすい」と思うものを1位<br>「最も分かりにくい」と思うものを5位として順位をつけて下さい</p>
    <p>なお、順位は重複しないようにして下さい</p>
  </div>
</div>