<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

<body>

  <%- include('layouts/header') %>

  <section class="conA">
    <div class="qs">
      <p>木村です</p>
      <p>現在、授業でピクトグラムについて調査しています。</p>

      <p>当アンケートでの結果を調査の重要な参考資料にさせていただきたいと考えています</p>
      <p>所要時間は2~3分ほどです。</p>
      <p>アンケートで得た回答につきましては、すべて統計的に処理しますので個人でお答えいただいた結果が外部に出ることは一切ございません</p>
      <p>お忙しいところ恐れ入りますが、調査の趣旨をご理解いただき回答にご協力いただきますよう、お願い申し上げます</p>
    </div>
    <div class="text-center">
      <a href="/coin" class="text-center">アンケートへGO!</a>
    </div>
  </section>

  <%- include('layouts/footer') %>
</body>

</html>