<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/header') %>

<body>
  <%- include('layouts/head') %>

  <section class="conA">
    <h4 class="text-center">ご協力ありがとうございました!!</h4>
    <p class="text-center" style="color: rgb(199, 46, 0);">※申告制でジュースおごります！木村まで申し付け下さい!</p>
  </section>

  <%- include('layouts/footer') %>
</body>

</html>